*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/*NAVBAR*/
nav{
    background-color: #000;
    box-shadow: 3px 3px 5px #0000001a;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height:100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fff;
}

nav li:first-child{
    margin-right: auto;
}

.nav-button{
    background-color: #f08b07;
    color: #fff;
    border-radius: 12px;
    height: 35px;
    border-color: #f08b07;
    margin: 8px 10px;
}

.navbar-items:hover{
    background-color: #b5af70;
}

.nav-button-sidebar{
    background-color: #f08b07;
    color: #fff;
    border-radius: 12px;
    padding: 10px;
    margin: 15px 0 0 25px;
    border-color: #f08b07;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #000;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-self: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}

.menu-button{
    display: none;
}


/*Banner-Section*/
.banner-section{
    background-image: url(images/globeimage.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    color: #fff;
    padding-left: 30px;
    padding-bottom: 30px;
}

.banner-context{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.banner-title{
    font-weight: bold;
    font-size: 64px;
}

.banner-sub-title{
    font-weight: 700;
    font-size: 40px;
}

.banner-para{
    font-size: 20px;
    font-weight: 400;
}

/*FORM-SECTION*/
.form-section{
    background-color: #fff;
}

.form-description{
    text-align: center;
    padding-top: 35px
}

.form-title{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 25px;
}

.form-para{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 25px;

}    
.left-input{
    float: left;
    width: 48%;
}
.right-input{
    float: right;
    width: 48%;
}
.float-clear{
    clear: both;
}



.input-text{
    height: 50px;
    border-top: #fff;
    border-left: #fff;
    border-right: #fff;
}

.btn-container{
    margin: 24px;
    text-align: center;
}
.submit-btn{
    background-color: #f08b07;
    border-color: #f08b07;
    color: #fff;
    padding: 14px;
    font-weight: 700;
    border-radius: 24px;
}
/*Location Sectiom*/
.location-container{
    background-color: #D8DAD7;
    padding: 30px;
}
.location-title{
    text-align: center;
    padding: 30px;
}
.location-head{
    padding: 30px;
    font-size: 28px;
    font-weight: 700;
}
.location-description{
    font-size: 20px;
    font-weight: 400;
}
.locations-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.location{
    margin-bottom: 24px;
    text-align: center;
}
.location-img{
    height: 200px;
    width: 350px;
}
.location-name{
    font-size: 16px;
    padding: 12px;
}


/*Footer Section*/
.footer{
    background-color: #000;
    padding: 30px 0px 30px 30px;
}
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.item-container{
    width: 15%;
    text-align: center;
}
.footer-items{
    color:#7A7A7A;;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 16px;
}
.title{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    padding: 25px;
}
.list-style{
    list-style: none;
}
li a{
    text-decoration: none;
    color: #7A7A7A;
}



@media (max-width:1050px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }

    /*banner-section*/
    .banner-section{
        background-image: url(images/globeimage.jpg);
        background-size: cover;
        background-position: center;
        height: 40vh;
        text-align: center;
        color: #fff;
        padding-bottom: 30px;
    }

    .banner-title{
        font-weight: 600;
        font-size: 24px;
        padding-bottom: 8px;
    }
    .banner-sub-title{
        font-weight: bold;
        font-size: 28px;
    }
    .banner-para{
        font-size: 20px;
        font-weight: 400;
    }

    /*Form Section*/
    .form-section{
        background-color: #fff;
        padding: 30px;
    }
    
    .form-description{
        text-align: center;
        padding-top: 35px
    }
    
    .form-title{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 35px;
    }
    
    .form-para{
        font-size:16px;
        font-weight: 350;
        margin-bottom: 25px;
        margin-left: 12px, auto;
    }
    
    .input-text{
        height: 40px;
        border-top: #fff;
        border-left: #fff;
        border-right: #fff;
        width: 100%;
        padding: 4px;
        margin-bottom: 24px;
    }
    .checkbox{
        height: 16px;
        width: 16px;
    }
    .checkbox-content{
        font-size: 14px;

    }
    .btn-container{
        margin: 24px;
        text-align: center;
    }
    .submit-btn{
        background-color: #f08b07;
        border-color: #f08b07;
        color: #fff;
        padding: 14px;
        font-weight: 700;
        border-radius: 24px;
    }

    /*Location-Section*/
    .location-container{
        background-color: #D8DAD7;
        padding: 30px;
    }
    .location-title{
        text-align: center;
    }
    .location-head{
        padding: 32px;
    }
    .location-description{
        font-size: 16px;
    }
    .locations-section{
        padding-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    }
    .location{
        text-align: center;
        margin-bottom: 24px;
    }
    .location-img{
        height: 200px;
        width: 350px;
    }
    .location-name{
        font-size: 16px;
        padding: 12px;
    }
    .country-locations{
        padding: 30px;
        text-align: center;
        padding-bottom: 15px;
    }
    .location-name{
        font-weight: bold;
        font-size: 20px;
        color: #000000;
    }
    .office-address{
        color: #373A40;
        font-size: 16px;
    }

    /*Footer-section*/
    .footer{
        background-color: #000000;
        padding: 30px 3px 30px 30px;
    }
    .footer-container{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    .item-container{
        width:30%;
    }
    .footer-items{
        color:#7A7A7A;;
        font-size: 14px;
        font-weight: 600;
        padding-bottom: 4px;
    }
    .title{
        color: #fff;
        font-size: 24px;
        font-weight: 700;
    }
    .list-style{
        list-style: none;
    }
    li a{
        text-decoration: none;
        color: #7A7A7A;
    }
}



@media (max-width:600px){
    .sidebar{
        width: 100%;
    }
 /*banner-section*/
    .banner-section{
        background-image: url(images/globeimage.jpg);
        background-size: cover;
        background-position: center;
        height: 35vh;
        color: #fff;
        padding-bottom: 30px;
    }
    .banner-title{
        font-weight: 600;
        font-size: 16px;
        padding-bottom: 8px;
    }
    .banner-sub-title{
        font-weight: bold;
        font-size: 32px;
    }
    .banner-para{
        font-size: 20px;
        font-weight: 400;
    }

    /*Navbar*/
    .form-section{
        background-color: #fff;
    }
    
    .form-description{
        text-align: center;
        padding-top: 35px
    }
    
    .form-title{
        font-size: 20px;
        font-weight: 650;
        margin-bottom: 25px;
    }
    
    .form-para{
        font-size: 14px;
        font-weight: 350;
        margin-bottom: 25px;
    }
    
    .input-text{
        height: 35px;
        border-top: #fff;
        border-left: #fff;
        border-right: #fff;
        margin-bottom: 20px;
        width: 100%;
    }

    .checkbox{
        height: 12px;
        width: 12px;
    }
    .checkbox-content{
        font-size: 12px;
    }
    .btn-container{
        margin: 24px;
        text-align: center;
    }
    .submit-btn{
        background-color: #f08b07;
        border-color: #f08b07;
        color: #fff;
        padding: 14px;
        font-weight: 700;
        border-radius: 24px;
    }

    /*Location-Section*/
    .location-container{
        background-color: #D8DAD7;
        padding: 30px;
    }
    .location-title{
        text-align: center;
    }
    .location-head{
        padding: 32px;
    }
    .location-description{
        font-size: 16px;
    }
    .locations-section{
        padding-top: 30px;
    }
    .location{
        text-align: center;
        margin-bottom: 24px;
    }
    .location-img{
        height: 200px;
        width: 300px;
    }
    .location-name{
        font-size: 16px;
        padding: 12px;
    }
    .country-locations{
        padding: 30px;
        text-align: center;
        padding-bottom: 15px;
    }
    .location-name{
        font-weight: bold;
        font-size: 20px;
        color: #000000;
    }
    .office-address{
        color: #373A40;
        font-size: 16px;
    }
    /*Footer-section*/
    .footer{
        background-color: #000000;
        padding: 30px 30px 30px 30px;
    }
    .footer-container{
        text-align: center;
        
    }
    .item-container{
        margin-bottom: 16px;
    }
    .footer-items{
        color:#7A7A7A;;
        font-size: 16px;
        font-weight: 600;
        padding-bottom: 4px;
    }
    .title{
        color: #fff;
        font-size: 16px;
        padding: 12px;
        font-weight: bold;
    }
    .list-style{
        list-style: none;
    }
    li a{
        text-decoration: none;
        color: #7A7A7A;
    }

}